@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600;700&display=swap');

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
    overflow-x: hidden;
   
}
.icon{
    width: 25px;
    height: 25px;
}
.naver-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.naver-link a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
}
#naver-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#naver-icon i {
  font-size: 1.2rem;
  cursor: pointer;
}


.back-btn{
    height: 25px;
    width: 25px;
}
.Return_button{
    position: sticky;
    top: 10%;
    margin-left: 5%;
    margin-top: 10%;
}

main {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Product_detail{
    display: flex;
    justify-content: center;
 
}
.Product_description{
    margin: 0 10%;
    max-width: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
}
.Product_description img {
    width: 100%;
}
.Product_description h3{
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    border-bottom: 5px solid #524343;
    border-radius: 2px;

}
.Product_description p{
    font-size: smaller;
}
.Product_variants {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    gap: 2%;
    height: 80vh;
    margin-bottom: 0;
   
}
.Product_variants *{
    max-width: 30%;
}
.Product_variants h1,h2{
    font-weight: 100;
}

.colors{
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 4%;
    overflow-x: auto;
}
.colors img{
    min-width: 10%;
    width:max(40px,40%);
    border: solid 2px;
    
}
select{
   display: block;
   padding-right:50%;
   padding-top: 2%;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: 500;
   
   border: 2px solid black;
   color: rgb(255, 253, 253);
   
   background-color: #080808;
}
option{
    color: #000;
    display: block;
    
}
.num{
    
    padding-top: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#000;
}
.Product_variants button{
    max-width: 100%;
}

.cart-btn{

    width: 50%;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: 100;
   
    padding-top: 2%;
    padding-bottom: 2%;
   border: 2px solid black;
   color: rgb(7, 7, 7);
   border-radius: 5px;
   background-color: #ffffff;
}

.pur-btn{
    width: 50%;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: 100;
    padding-top: 2%;
    padding-bottom: 2%;
   border: 2px solid black;
   color: rgb(255, 255, 255);
   border-radius: 5px;
   background-color: #000000;
}

.Product_review{
    display: flex;
    flex-direction: column;
    margin-top: 0%;
}
.Product_review_title {
    padding: 0 2%;
    
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Product_review_title h2{
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    border-bottom: 5px solid #524343;
    border-radius: 2%;
    width: 16%;
}
.inner-review-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5%;
    margin-top: 2%;
}
.inner-review-cont h2{
    margin-bottom: 0%;
    margin-top: 0%;
    font-weight: bold;
    font-size: medium;
}
.inner-review-cont time{
    font-size: small;
    font-weight: lighter;

}
textarea{
    border-radius: 5px;
    border: 3px solid black;
    background-color: lightgray;
}
label{
    font-weight: 500;
}
.send-btn{
    border-radius: 8px;
    padding: 5px;
    font-size: small;
    border-color: #88540F;
    color: #88540F;
    border: 2px solid;
    margin-left: 80%;
}


.Product_review_comments {
    display: flex;
    justify-content: left;
    gap: 2%;
    overflow-x: auto;
    padding: 0 3%;
}
.review_box {
    min-width: max(200px,20%);    
    height: 200px;

    background-color: lightgray;
    border-radius: 8px;
}
.review_box p{
    padding: 5%;
    font-size: 12px;
    margin-top: 0%;
    margin-bottom: 2%;

}

.Similar_product{
    display: flex;
    flex-direction: column;
    
}
.Similar_product h2{
    
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    border-bottom: 5px solid #524343;
    border-radius: 2%;
    margin-left: 2%;
    margin-right: 82.5%;
}

.Product_box {
    min-width: max(200px,15%);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 3%;
    height: 180px;
    background-color: lightgray;
    font-size: small;
    padding-bottom: 2%;
    padding-top: 1%;
    border-radius: 15px;
    
}
.Productimg{
    width:80%;
    height: 80%;
    margin-top: 5%;
    border-radius: 5px;
}
.Similar_product_scroll{
    display: flex;
    justify-content: left;
    gap: 2%;
    overflow-x: auto;
    padding: 0 3%;
}


footer {
    background-color: #524343;
    color: white;
    margin-top: 3%;

    display: flex;
    flex-direction: column;
    font-family: 'Jura',sans-serif;
    font-size: small;
    justify-content: center;
    align-items: center;
    gap: 2%;
    height: 70vh;
    padding: 20px;

}
footer a{
    color: white;
    text-decoration: none;
}

/*Hide horizontal scroll bar*/
.Hide_bar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.Hide_bar::-webkit-scrollbar {
  display: none;
}

.sidebar {
  width: 20%; /* full width on mobile */
  padding: 15px;
  background: #f8f8f8;
  color: #000;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);

  /* Scrollable sidebar */
  max-height: 400px;     /* adjust as needed */
  overflow-y: auto;      /* vertical scroll */
}

.naver-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.naver-link a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
}

#naver-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#naver-icon i {
  font-size: 1.2rem;
  cursor: pointer;
}



header {
  position: sticky; 
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  z-index: 10;
  font-weight: bold;
}

.header{
    width:100%;
    padding-left: 2%;
    top:0;
    left:0;
    position: fixed;
    background-color: rgb(255, 255, 255);
    color: rgb(28, 26, 26);
   
}

header h2{
    width: 50%;
    font-weight: 1000;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 18%;
    align-items: center;
}
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    color: black;
    
    padding-right: 5%;
    align-items: center;
}
.nav-item {
    margin-right: 25%;
    align-items: right;

    
}
.nav-item a{
    font-size: 16px;
    text-decoration: none;
    color: black;
   
}
.icon{
    width: 25px;
    height: 25px;
}
.menu-btn{
    display:none;
} 
.sidebar{
    position: fixed;
    top:0;
    right: 0;
    margin-top: 0;
 
    height: 100vh;
    width: 40%;
    z-index: 999;
    background-color: rgba(255, 255, 255);
    backdrop-filter: blur(10px);
 
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    border-radius: 2%;
    padding: 2%;
  }
  .sidebar .nav-item2{
    margin-top: 2px;
    margin-bottom: 2px; 
    list-style-type: none;
    margin-right: 10px;
   
  }
  
  .sidebar .nav-itemi{
      margin-top: 10px;
    margin-bottom: 30px; 
    list-style-type: none;
    margin-right: 10px;
  }
   .sidebar .nav-itemc{
    margin-top: 20px;
    margin-bottom: 10px; 
    list-style-type: none;
    align-self: flex-start;
  }

  .sidebar .nav-item2 a{
    font-size: 16px;
    text-decoration: none;
    color: black;
  }
 .sidebar .nav-item2 .nav-link2{
    margin-bottom: 10%;
  }

  @media (max-width:768px){

    .Product_detail{
        flex-direction: column;
    }
    
  }
